torch>=1.4
diffusers==0.10.2
transformers
scipy
ftfy
accelerate
pyngrok==4.1.1
flask_ngrok
openai
python-dotenv
langchain
pypdf
pandas==1.5.3
pandasai
slack-sdk
slack-bolt
ipython==7.34.0
sqlalchemy>=2.0
astor